@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
.slick-slider {
  overflow: hidden;
}

.slick-list {
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: stretch;
}
